*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link,.navbar-brand,.textshad{
    text-shadow: 1px 1px 4px #000 ;
}
.home{
    background: url(/images/bg1.jpg) rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.keal{
    background: url(/images/keal.jpg) rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 500ms;
}
.keal:hover{
    background: url(/images/keal_onhover.jpg) rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ktu{
    background: url(/images/ktu.png) rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 500ms;
}
.ktu:hover{
    background: url(/images/ktu_onhover.jpg) rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.zbeu{
    background: url(/images/zbeu.jpg) rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 500ms;
}
.zbeu:hover{
    background: url(/images/zbeu_onhover.jpg) rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.zbeu:hover,.ktu:hover,.keal:hover{
    transform: scale(1.02);
    transition-duration: 500ms;
}
.contact{
    background: url(/images/contact.jpg) rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    transition-duration: 500ms;
}
.bip{
    font-weight: bold;
}
.about-item,.information-item,
.c-item,.cpp-item,.csharp-item,.java-item,
.html-item,.css-item,.boot-item,.php-item,.skills{
    background-color: #212529;
    transition-duration: 500ms;
}
.about-item:hover,.information-item:hover,
.c-item:hover,.cpp-item:hover,.csharp-item:hover,.java-item:hover,
.html-item:hover,.css-item:hover,.boot-item:hover,.php-item:hover{
    transform: translateY(-10px);
    transition-duration: 500ms;
    color: black;
    background-color: white;
}
.nav-link{
    transition: transform 500ms ease;
}
.nav-link:hover{
    transform: translateY(-5px);
    transition: transform 500ms ease;
}


